*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:#F6F5FC;
    --social-icon:rgb(53, 187, 120, .2);
    --bd-color:rgb(59, 235, 220);
    --secondary-color:#D5D7D6;
    --black-color:#2c2f31;
}
.container-container{
    width: 90%;
    margin: auto;
}
p,h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}
.hero-background{
    background-color: var(--primary-color);
    border-radius: 5px;
}
.hero img{
    border-radius: 50%;
    margin:50px 100px;

}

.btn-light {
    --bs-btn-border-color: black;
}
.d-flex{
    display: flex;
}
ul{
    margin: 0;
}
ol, ul {
    padding-left: 0rem;
}
ul li{
    list-style-type: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
.btn-info ul li{
    display: inline-block;
}

/* common code ending here */
/* hero section starts here */
.hero-content p{
    font-size: 25px;
    font-weight: 500;
    color: var(--black);
    display: block;
}
.hero-content h2{
    font-size: 35px;
    font-weight: 500;
    color: var(--black);
    display: block;
}
.hero-content h3{
    font-size: 22px;
    font-weight: 500;
    color: var(--black);
    display: block;
}
.btn-info {
    --bs-btn-bg: var(--primary-color); 
    --bs-btn-border-color: #fff; 
    --bs-btn-hover-bg:var(--primary-color); 
    --bs-btn-hover-border-color: #fff;
    --bs-btn-active-bg: #fff;
    --bs-btn-active-border-color: #fff;
}
.socail-communicate{
    position: absolute;
    top: 61%;
}
.social-icon{
    background-color: rgb(53, 187, 120, .2);
    color: var(--bd-color);
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 50px;

}
.social-icon:hover{
    background-color: rgb(111, 79, 192);
}
/* hero section ending here */
/* navbar section starts here */
.nav-item{
    padding: 10px;
}
.navbar-brand span{
    color: rgb(76, 76, 202);
}
 .btn-lg {
    --bs-btn-padding-x: 2.75rem;
    --bs-btn-padding-y: 0.100rem;
    --bs-btn-font-size: 1rem;
} 
.nav-item a{
    font-size: 18px;
}
/* navbar section ending here */
/* about me section starts here */
.heading h1{
    letter-spacing: 10px;
}
.contact-number{
    background-color: rgb(158, 224, 196);
}
.lead{
    line-height: 1.3;
}
.about-me{
    background-color: var(--secondary-color);
}
/* about me section ending here */
/* education section starts here  */
.education{
    background-color: #E7E9EB;
} 
.journey{
    letter-spacing: 10px;
}
.education-content{
    background-color: #fff;
}
.myjourney{
    background-color: #D9EEE1;
}
/* education section ending here  */
/* skills section starts here */
.row {
    --bs-gutter-x: 5.5rem;
    --bs-gutter-y: 0;
}
.progress, .progress-stacked {
    --bs-progress-height: 1.3rem;
    --bs-progress-font-size: .75rem;
}
.skills{
    letter-spacing: 10px;
}
/* skills section ending here */
/* footer section starts here */
.footer ul li{
    padding-left: 0;
    margin-left: 0;
}
.footer{
    background-color: rgb(65, 206, 206);
    color: #ffffff;
}
.footer .btn-info {
    --bs-btn-bg:  rgb(65, 206, 206); 
    --bs-btn-hover-bg: rgb(65, 206, 206);
    --bs-btn-active-bg:  rgb(65, 206, 206);
    border: none;
}
.footer .social-icon{
    background-color: #fff;
    color: var(--bd-color);
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 50px;
    margin: 5px;
}
.footer .social-icon:hover{
    background-color: rgb(148, 153, 152);
}
.footer p a{
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 5px;
}
/* footer section ending here */
/* little footer section starts here */

/* little footer section ending here */
/* my protfolio section starts here */
.protfolio{
    background-color: #FFF4A3;
}
.protfolio .content-area{
    position: relative;
}
.protfolio .content-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(235, 223, 221, 0.5);
    transform: scale(0);
    transition: 4s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.protfolio .content-area:hover .content-overlay{
    transform: scale(1);
}
.protfolio .content-overlay a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    transition: 4s;
}
.protfolio .content-overlay a:hover{
    color: rgb(56, 45, 201);
}
/* my protfolio section ending here */
/* service section starts here */
.services-section{
    background: var(--black-color);
}
.services-heading{
    position: relative;
}
.services-heading::before{
    content: '';
    position: absolute;
    height: .18rem;
    width: 10%;
    background: var(--light-color);
    top: 100%;
    left: 45%;
}
.services-content h3 span{
    font-size: 2rem;
    margin-right: .5rem;
}
.service-paragraph{
    font-size: 2rem;
}
/* service section ending here */


.contact-heading{
    position: relative;
    padding-bottom: .2rem;
}
.contact-heading::before{
    content: '';
    position: absolute;
    height: .2rem;
    width: 10%;
    background: var(--dark-color);
    top: 100%;
    left: 45%;
}
.address p, .address a{
    line-height: 28px;
    letter-spacing: .5px;
    font-size: 16px;
    color: #666;
    transition: var(---transition);
}
.address a:hover{
    color: var(--dark-color);
}
.icon span{
    color: #30c39e;
}
.map iframe {
    width: 100%;
    max-height: 260px;
    border: 5px solid #d6d6d6 !important;
}
.contact-right input[type="text"], .contact-right input[type="email"], .contact-right textarea{
    outline: none;
    width: 83%;
    padding: .9em 1.3em;
    font-size: 15px;
    letter-spacing: 1px;
    color: #888;
    border: none;
    border: 1px solid #ccc;
    background: none;
    margin-bottom: 1.5em;
	border-radius: 5px;
}
.contact-right .message{
    color: var(--text-soft-color);
}

.contact-right button[type="submit"] {
    padding: 11px 35px;
    color: #fff;
    background: #0a8ea0;
	border: 2px solid #0a8ea0;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    float: right;
	 cursor: pointer;
}
.contact-right button[type="submit"]:hover {
    color: #222;
    background: none;
	border: 2px solid #222;
}
.contact label {
    width: 17%;
    float: left;
    color: #333;
    font-weight: 600;
}
.contact label span {
    color: #30c39e;
}
.contact-right textarea {
    min-height: 120px;
    resize: none;
}


/* contatct section ending here */